/*Styling the body of the whole document*/
html, body {
    padding: 0;
    margin: 0;
    font-size: 1em;
    background-color: rgb(154, 155, 146);
    color: rgb(1, 43, 44);
}
div.body {
    width: 95%;
    height: fit-content;
    margin: 0 2.5% 0 2.5%;
    /* border-style: double; */
    overflow: hidden;
}
/*HEADER PART*/
/*Style for the header container of the page*/
div.header-container {
    background-color: rgba(1, 31, 5, 0.815);
    border-radius: 1em 1em 1em 1em;
    margin: 0vw 22vw 0vw 22vw;
    padding: 0em;
    z-index: 10;
    width:50% ;
    height: 3.7em;
    overflow: hidden;
    /* border-style: double; */
    position:fixed;
}
div.header-container a {
    text-decoration: none;
    color: rgb(55, 212, 218);
    font-size: min(0.8em, 1vw);
    font-weight: bold;
}
div.header-container ul, li {
    float: left;
    padding-right: 3vw;
    list-style-type: none;
}
div.header-container img {
    float: right;
    padding-right: 1em;
}
#profile {
    padding-top: 1vw;
}

/*Styling for a tablet*/
@media only screen and (max-width: 1100px) {
    div.header-container {
        width: 70%;
        margin: 0vw 15% 0vw 15%;
    }
}
/*Uisng media query to style a mobile device*/
@media only screen and (max-width: 700px) {
    
    div.header-container {
        width: 80vw;
        margin: 0vw 10% 0vw 10%;
    }
    #profile {
        padding-top: 2vw;
    }
  }

/* MAIN PAGE */
/*Styling the home container and its contents*/
div.home-container {
    width: 100%;
    /* border-style: double; */
    border-radius: 2vw;
    height: auto;
    /* background-color: rgba(4, 56, 28, 0.342);
    border-color: rgba(0, 255, 255, 0.068); */
    padding: 0;
    margin: 0 0% 0 0%;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
div.home-container div {
    margin: 4vw 0% 1vw 0%;
    float: left;
}
/*avatar and the title*/
div.avatar {
    align-items: center;
    width: 50%;
    height: auto;
    overflow: hidden;
}
div.title {
    width: 100%;
    text-align: center;
    font-size: 1.7em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0.1vw 0.1vw rgb(1, 22, 20);
    color: rgb(17, 78, 70);
    padding-top: 2vw;
}
#careers {
    font-size: 0.62em;
    color: rgb(14, 72, 87);
}
div.avatar img {
  margin: 1em 0em 1em 10em;
  border-radius: 6%;
}
/*Description and details*/
div.details {
    width: 40%;
    height: auto;
    overflow: hidden;
}
div.details p{
    font-size: 1.2em;
    text-transform:none;
    text-align: center;
    text-align-last: center;
    line-height: 2em;
    margin: 0em 0em 0em 0em;
}
div.details strong {
    color: rgb(8, 136, 168);
}

/*Styling for a device (tablet) under 1200px*/
@media only screen and (max-width: 1100px) {
    div.home-container div {
        margin: 4vw 15% 1vw 15%;
        float: none;
        width: 70%;
    }
    div.details p{
        font-size: 1em;
        text-transform:none;
        text-align: center;
        text-align-last: center;
        line-height: 2em;
        margin: 5em 5em 2em 5em;
    }
    div.avatar div {
        padding-top: 5em;
        width: 70%;
    }
    div.avatar img {
        margin: 1em 0em 0em 4em;
        
      }
}
/*Styling for a device (phone) under 800px*/
@media only screen and (max-width: 800px) {
    div.home-container div {
        width: 100%;
        margin: 0 0% 0 0%;
        height: auto;
        margin: 10vw 0 0 0;
    }
    div.avatar div {
        padding-top: 20vw;
        width: 100%;
    }
    div.avatar img {
        margin:0 0 0 8vw;
      }
    div.details p{
        margin: 8em 0em 2em 9em;
        padding: 1em 1em 1em 1em;
        line-height: 1.5em;
        letter-spacing: 0;
        word-spacing: 0.1vw;
    }
  }

/*DESCRIPTION*/
/*the description container*/
div.description-container {
    position: relative;
    width: 90%;
    margin: 1vw 5% 1vw 5%;
}
div.career {
    float: left;
     background-color: rgba(22, 155, 122, 0.089); 
    border-radius: 2em;
    border-style: double;
    padding: 1em;
    border-color: rgba(5, 58, 53, 0.678);
}
.titles {
    padding: 2vw 5vw 0vw 5vw;
}
.titles strong {
    font-size: 1.2em;
    color: rgb(4, 46, 25);
    margin-top: 1em;
}
.titles p {
    padding: 2em 5v 0vw 5vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    line-height: 1em;
    word-spacing: 0.01em;
}
div.career h2 {
    text-align: center;
    padding: 3;
    margin-top: 2vw;
}

/*tablet mode styling*/
@media only screen and (max-width: 1100px) {

    
}
/*mobile phone mode styling*/
@media only screen and (max-width: 700px) {
   
    
}

/*Styling the action button*/
div.message-btn {
    position: fixed;
    width: 100%;
    height: 10vw;
}

div.message-btn img {
    float: right;
    padding: 40% 2vw 2vw 2vw;
}
/*styling the projects part*/
div.projects {
    width: 90%;
    margin: 2% 5% 0 5%;
    border-radius: 1vw;
    height: fit-content;
    /* border-style: double; */
    overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.11);
    border-color: rgba(165, 42, 42, 0.185); */
}
div.projects h2{
    text-decoration: underline;
    text-align: center;
    margin-top: 1%;
}

div.websites {
    width: 100%;
    height: fit-content;
    margin: 2% 0% 0 0%;
    /* background-color: rgba(0, 255, 255, 0.089);
    border-style: double;
    border-color: rgba(0, 0, 255, 0.158); */
}
div.websites img {
    margin: 0 2.5% 0 2.5%;
    border-radius: 1em;
}
div.apps {
    width: 100%;
    height: fit-content;
    /* background-color: rgba(0, 255, 255, 0.089);
    border-style: double;
    border-color: #0000ff28; */
    margin: 1em 0% 0 0%;
    overflow:hidden;
}
div.apps img {
    padding: 1em 2% 1em 2%;
    border-radius: 1.6em;
    float: right;
}
div.apps p {
    float: left;
    width: 55%;
    padding: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    color: rgb(4, 44, 44);
}

div.carousel {
    overflow: hidden;
    height: fit-content;
    width: fit-content;
}
div.slides{
    width: auto;
    overflow: hidden;
    align-items: center; 
    padding: 0 2em 0 2em;  
}
.slides img{
    border-radius: 1em;
}
#prev {
    float: left;
    padding-left: 2.5em;
}
#next {
    float: right;
}
.change {
    font-size: 1.5em;
    margin-top: -12em;
    width: auto;
    position: sticky;
    z-index: 1;
    color: blue;
   
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    font-weight: bold;
    user-select: none;

}
.change:hover {
    cursor: pointer;
   
}
/* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  } */

/* message button */
div.floating-button {
    width: fit-content;
    height: fit-content;
    background-color: rgba(7, 95, 14, 0.397);
    border-style: double;
    border-color: rgba(0, 0, 255, 0.158);
    margin: 0 5% 0 5%;
    border-radius: 2vw;
    float: right;
}
div.floating-button img:hover {
    cursor: pointer;
}


/* message send*/
div.message-me {
    width: 70%;
    height: fit-content;
    padding: 5vw;
    display: block;
    background-color: rgba(2, 37, 36, 0.336);
    margin: 0 15% 0 15%;
    position: sticky;
    overflow: hidden;
    z-index: 100;
    display: none;
    border-style: solid;
    border-color: rgba(68, 0, 255, 0.199);
    border-radius: 0vw 10vw 0 10vw;
}
div.message-me label{
    color: rgb(7, 75, 29);
    font-size: 1.5em;
    text-align: center;
}
div.message-me input {
    width: 70%;
    margin: 1em 15% 1em 15%;
    height: 3vw;
    border-style: solid;
    border-color: rgba(3, 12, 44, 0.733);
    border-radius: 2vw;
    background-color: rgb(82, 78, 78);
    padding-left: 1em;
    color: beige;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
textarea {
    width: 70%;
    height:6em;
    margin: 1em 15% 1em 15%;
    border-style: solid;
    border-color: rgba(3, 46, 46, 0.61);
    border-radius: 2vw;
    padding: 1em;
    background-color: rgb(82, 78, 78);
    color: beige;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button {
    width: 30%;
    margin: 3em 35% 0 35%;
    height: fit-content;
    border-style: solid;
    border-color: rgb(7, 42, 83);
    color: rgb(197, 180, 157);
    font-size: larger;
    border-radius: 2vw;
    padding: 1em;
    background-color: rgb(5, 53, 5);
}




/* .container{
    display: inline-block;
    font-family: "arial";
    font-size: 24px;
  }
  
  .typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
  }
    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  } */

  /* An Image carousel */
  
  /* #carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .slide {
    display: none;
    width: 100%;
    height: 500px;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  } */
  
  